<section class="hero is-warning">
    <div class="hero-body">
        <p class="title">Unsuccessful upload, duplicated filename founded</p>
        <p class="title">Please rename your file before upload</p>
    </div>
</section>
<div class = "columns is-mobile is-centered">
    <div class = "column is-half ">
        <a href="/">
        <img src="../images/home.jpg"  style = "width: 100%;" />

    </a>
    </div>
    

</div>
<script>
    
</script>