<section class="hero is-info">
    <div class="hero-body">
        <p class="title"> Successfully Encrypted and Uploaded towards Server</p>
    </div>

</section>
<div class = "columns is-mobile is-centered">
    <div class = "column is-half ">
        <a href="/">
        <img src="../images/home.jpg" alt="Dinosaur"  style = "width: 100%;" />

    </a>
    </div>
    

</div>
<script>

</script>