<section class="hero is-info">
    <div class="hero-body">
        <p class="title">Unsuccessful retrieve file, please ensure your inputs are valid</p>

    </div>
</section>
<div class = "columns is-mobile is-centered">
    <div class = "column is-half ">
        <a href="/">
        <img src="../images/home.jpg"  style = "width: 100%;" />

    </a>
    </div>
    

</div>
<script>
    
</script>